
  <div class="container ">
    <ul class="card-list">
      <li class="card-list-item">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/350x150" alt="placeholder" />
          </div>
          <div class="card-content">
            <h3 class="card-heading">Header</h3>
            <p>Here's some content</p>
            <button class="btn btn-sm primary">button</button>
          </div>
        </div>
      </li>
      <li class="card-list-item">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/350x150" alt="placeholder" />
          </div>
          <div class="card-content">
            <h3 class="card-heading">Header</h3>
            <p>Fusce sed purus ut elit hendrerit congue. Maecenas ornare consequat molestie.</p>
            <button class="btn btn-sm primary">button</button>
          </div>
        </div>
      </li>
      <li class="card-list-item">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/350x150" alt="placeholder" />
          </div>
          <div class="card-content">
            <h3 class="card-heading">Header</h3>
            <p>Fusce sed purus ut elit hendrerit congue. Maecenas ornare consequat molestie.</p>
            <button class="btn btn-sm primary">button</button>
          </div>
        </div>
      </li>
      <li class="card-list-item">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/350x150" alt="placeholder" />
          </div>
          <div class="card-content">
            <h3 class="card-heading">Header</h3>
            <p>Fusce sed purus ut elit hendrerit congue. Maecenas ornare consequat molestie.</p>
            <button class="btn btn-sm primary">button</button>
          </div>
        </div>
      </li>
      <li class="card-list-item">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/350x150" alt="placeholder" />
          </div>
          <div class="card-content">
            <h3 class="card-heading">Header</h3>
            <p>Fusce sed purus ut elit hendrerit congue. Maecenas ornare consequat molestie.</p>
            <button class="btn btn-sm primary">button</button>
          </div>
        </div>
      </li>
      <li class="card-list-item">
        <div class="card">
          <div class="card-image">
            <img src="http://placehold.it/350x150" alt="placeholder" />
          </div>
          <div class="card-content">
            <h3 class="card-heading">Header</h3>
            <p>Nullam tincidunt dignissim feugiat. Nullam eget enim sit amet eros tristique fringilla a ac metus.</p>
            <p>And some more content.</p>
            <button class="btn btn-sm primary">button</button>
          </div>
        </div>
      </li>
    
    </ul>
  </div>