<div class="book-details-card">
    <div class="book-header">
      <h2 class="book-title">{{book.title}}</h2>
      <!-- <p class="book-authors">by F. Scott Fitzgerald</p> -->
    </div>
    <div class="book-info">
      <p><strong>First Publish Year:</strong> {{book?.created?.value | date:'yyyy'}}</p>
      <!-- <p><strong>Editions Count:</strong> 12</p> -->
      <!-- <p><strong>No. of Pages:</strong> 218</p> -->
      <h3 class="card-caption">Authors Names</h3>
      @for(author of authors;track author.key;let index = $index){
      <p>{{index+1}}- {{author.name}}</p>
      }
    </div>
  </div>