<div class="book-details-card">
  @if(_globaleServie.LocalLoadoer){
    <app-localspinner ></app-localspinner>

  }@else{
    <div class="book-header">
      <h2 class="book-title">{{book.title}}</h2>
    </div>
    <div class="book_info">
      <p><strong>First Publish Year:</strong> {{book.created.value | date:'yyyy'}}</p>

      <h3 class="card_caption">Authors Names :</h3>
      @for(author of authors;track author.key;let index = $index){
      <p (click)="redirectToAuthorDetails(author.name)">{{index+1}}- {{author.name}}</p>
      }
    </div>}
  </div>