<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a href="#!">🍀 Library</a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list">
                
                <li><a class="nav-link" routerLink="/" routerLinkActive="active_link">Home</a></li>
                <li><a href="#!">Search</a></li>
                <li><a href="#!">Favorites</a></li>
            </ul>
        </nav>
    </div>
</section>