<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a routerLink="/" routerLinkActive="active"><img src="assets/images/logo.png"/> </a>
        </div>
        <nav>
      
            <ul class="nav-list">
                
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
                <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
                <li><a routerLink="/favorite" routerLinkActive="active">Favorite</a></li>
            </ul>
        </nav>
    </div>
</section>